# Build
build/
.gradle/
out/
dist/
target/

# IDE
*.iml
*.ipr
*.iws
.idea/
*.swp
*~

# Env
.env
.env.local

# JAR
*.jar
!src/main/resources/*.jar

# Logs
logs
*.log

# Docker
Dockerfile.local
docker-compose.override.yml